.container {
    width: 100%;
}

.body-content {
    margin-left: 16em;
    margin-top: 0.5em;
    width: 85%;
    transition: margin-left 0.5s linear;
    -moz-transition: margin-left 0.5s linear;
    -webkit-transition: margin-left 0.5s linear;
}

header {
    padding: 0.7em;
    background-color: black;
    color: white;
    font-size: large;
}

    header a {
        background-color: black;
        color: white;
        text-decoration: none;
    }

        header a:hover {
            text-decoration: none;
        }
