@{
    ViewBag.Title = "Darkly Sample";
}

<link href="~/Content/Lumen/bootstrap.min.css" rel="stylesheet" />

<h2>Darkly Sample</h2>

<div class="row">
    <div class="col-md-8">
        <button class="btn btn-default">Default Button</button>
        <button class="btn btn-primary">Primary Button</button>
        <button class="btn btn-success">Success Button</button>
        <button class="btn btn-info">Info Button</button>
        <button class="btn btn-warning">Warning Button</button>
        <button class="btn btn-danger">Danger Button</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <span>This is an alert area using 'warning'.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <span>This is an alert area using 'danger'.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            <span>This is an alert area using 'success'.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <span>This is an alert area using 'info'.</span>
        </div>
    </div>
</div>
